<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="./js/script.js"></script>
</head>
<body>
    <header>
        <div class="logo"><img src="https://canifa.com/assets/images/logo.svg" alt=""></div>
         <!-- Menu icons -->
        <i class='bx bx-menu' id="menu-icon"></i>    
        <ul class="nav-bar">
            <li><a href="">TRANG CHỦ </a></li>
            <li><a href="">SẢN PHẨM</a></li>
            <li><a href="">LIÊN HỆ</a></li>
            <li><a href="">GIỚI THIỆU</a></li>
        </ul>
        <div class="cart-item">
            <i class='bx bx-search-alt' id="search-icon" ></i>
            <i class='bx bx-cart-alt' id="cart-icon" ></i>
            <span class="number-cart">10</span>     
        </div>
        <div class="header-icon ">
            <i class='bx bxs-user-circle' ></i>
            <button class="account">My account</button>
        </div>
        <!-- OPEN FORM SEARCH -->
        <div class="search-form">
            <input type="search" placeholder="Tìm kiếm...">
        </div>
    </header>

   

</body>
</html>
