  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300&family=Rubik:wght@300;400;700&display=swap');
*{
    font-family: 'space grosek';
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
:root{
    --bg-color:#1b1b1b;
    --main-color:#fafafa;
    --text-color:#333f48;
    --text:#fff;
    --font-h1: 2.625rem;
    --font-h3: 1.625rem;
    --font-h4:1.125rem;
    --font-h6:0.625rem;
}
body{
    background: #f9fafa;
    ;
    padding-top: 80px;
}
section{
    padding: 40px 80px;
}

a{
    text-decoration: none;
}
  
header{
    position: fixed;
    top: 0;
    width: 100%;
    right:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 90px;
    transition: 0.5s linear;
    background:var(--bg-color);
}
#menu-icon{
    color: var(--text);
    font-size: 2rem;
    display: none;
}
.header-icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  
}
.header-icon i{
    color: var(--text);
    font-size: 2rem;
    position: relative;
}
.nav-bar{
    display: flex;
}   
.nav-bar a{
    color: var(--text);
    font-size: var(--font-h4);
    padding: 8px 17px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.4s ease;
}
.nav-bar a:hover{
    color: burlywood;
}
.search-form{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    width:100%;
    box-shadow: 1px 2px 2px  black;
    cursor: pointer;
}
.search-form input{
    padding:20px;
    border:none;
    outline:none;
    width:-100%;
    font-size: 1rem;
    color: var(--bg-color);
    width: 100%;
}

.search-box input ::placeholder{
    font-size: 1rem;
    font-weight:500;
}


.footer{
    padding-bottom: 0;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
    ;
}
footer .col{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer p{
    font-size: 18px;
    margin: 0 0 8px 0;
    color: var(--text-color);
}
